.flex-boxContainer {
    display: flex;
    
}

body {
    background-color: rgb(130, 133, 130);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: auto;
    border: thin solid black;
}

#title {
    display: flex;
    color: mediumslateblue;
    font-size: 50px;
    font-style: italic;
    justify-content: center;
    border: thick dashed rgb(184, 3, 3);
    border-radius: 5em;
    border-style: double;
    
}

#tankCare {
    justify-content: flex-end;
    margin-top: 1em;
    border-radius: 2em;
    color:rgb(15, 15, 15);
    font-size: 30px;
    border: thick ridge black;
    padding-left: 1em;
    
}

.tankCare {
    color:rgb(14, 14, 8);
}

img {
    border: thick ridge black;
    border-color: rgb(15, 14, 14);
    
   
}

.c3 {
    border: thin solid black;
    display: flex;
    color: rgb(3, 3, 8);
    align-items: center;
}

#fishHeader {
    display: flex;
    justify-content: flex-start;
    font-size: large;
}

.fishInfo {
    display: flex;
   flex-direction: column;
   font-weight: bold;
   color: rgb(8, 8, 7);

}

.locale {
    font-weight: bold;
    color: black;
    border: thin ridge black;
    border-width: 2px;
    margin-right: 808px;
    border-top-color: cyan;
    border-bottom-color: hotpink;
    border-right-color: blueviolet;
    border-left-color: yellow;
}