.flexBox {
    display: flex;
    
}

body {
    background-color: rgb(130, 133, 130);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: auto;
    border: thin solid black;
}

#title {
    
    display: flex;
    color: mediumslateblue;
    font-size: 50px;
    font-style: italic;
    justify-content: center;
    border: thick dashed rgb(184, 3, 3);
    border-radius: 7em;
    border-style: double;
    
}

#tankCare {
    justify-content: flex-end;
    margin-top: 1em;
    border-radius: 2em;
    color:rgb(10, 8, 8);
    font-size: 30px;
    
    padding-left: 1em;
    margin-left: 500px;
}

.tankCare {
    color:rgb(14, 14, 8);
}

img {
    border-radius: 4px;
    border: thick ridge black;
    border-color: rgb(15, 14, 14);
    padding: 5px;
    width: 260px;
   
}

.c3 {
    font-size: small;
    display: flex;
    color: rgb(3, 3, 8);
    align-items: center;
}

#fishHeader {
    display: flex;
    justify-content: flex-start;
    font-size: large;
}

.fishInfo {
    display: flex;
   flex-direction: column;
   font-weight: bold;
   color: rgb(8, 8, 7);

}

.locations {
    font-weight: bold;
    color: rgb(27, 11, 250);
  font-size: large;
  
  
}

#locale {
    color: rgb(255, 8, 201);
}

.navBar {
    padding: 3px;
    margin-left: 750px;
    font-size: larger;
}

.FishList {
    display: flex;
    color: rgb(23, 45, 145);
    font-style: oblique;
    font-size: large;
    margin-left: 100px;
    margin-top: 35px;
}